*, *:before, *:after {
  box-sizing: content-box;
}
.App-header {
	background-image: linear-gradient(-45deg, #756868 10%, #96B7C4 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.HeroBanner {
  font-size: 20px;
}
.navbar{
  display: flex;
  position: sticky;
  top: 0;
}

.navbar a {
  font-size: 18px;
  text-decoration: none;
  width: 7em;
  font-family: "Open Sans", sans-serif;
}
