*, *:before, *:after {
  box-sizing: content-box;
}

div {
  margin-bottom: 3rem;
}

div:last-child {
  margin-bottom: 0;
}

html {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.App {
  align-items: center;
  background-image: linear-gradient(-45deg, #756868 10%, #96B7C4 100%);
  color: white;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 100vw;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  }

.HeroBanner {
  font-size: 20px;
}
.navbar{
  padding-bottom: 100px;
  padding: 20px 10px;
  position: sticky;
  top: 0;
}


.navbar a {
  float: left;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  width: 7em;
}

.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}

.navbar-right {
  float: right;
}
.navbar a:hover {
  background-color: rgb(98, 97, 97);
}