@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .square {
    @apply fixed left-[-5%] w-[30em] text-[white] shadow-[10px_10px_30px_lightblue] animate-[slide-in_1.5s] rounded-[5px] border-[3px] top-[10%];
    background: black;
  }
}
.hide {
  @apply animate-[slide-out_2s] pr-10;
}
.name {
  @apply flex flex-col text-[40px] pl-0 pr-5 pt-2.5 pb-5;
  justify-content: right;
  align-items: end;
  font: 10 30px "Rubik", monospace;
}
.title {
  @apply animate-[slide-in_2s];
}
.separator {
  @apply h-0 w-[1%];
  background: white;
  transition: width 1s ease-in-out 100ms, height 1s ease-in-out 100ms;
}
.name:hover .separator {
  @apply h-[3px] w-3/5;
}
.image {
  @apply h-[90%] w-full animate-[slide-down_3s];
}
@keyframes slide-down {
  from {
    @apply -translate-y-full;
  }
  to {
    @apply translate-y-0;
  }
}
@keyframes slide-in {
  from {
    @apply translate-x-[-300%];
  }
  to {
    @apply translate-x-0;
  }
}
@keyframes slide-out {
  from {
    @apply translate-x-0;
  }
  to {
    @apply translate-x-[-100];
  }
}
